 body {
    background: #fff;;
    font-family: "Roboto",
     sans-serif;
    color: #434455;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none; 
}

address{
    font-style: normal;
}

/*--------------header-------------*/
 .nav-menu >.link,
  .footer-page .link{
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.nav-menu .span-item {
    color: #2e2f42;
}
.nav-menu-list-item .link:focus {
    color: #404bbf;
}

 
.nav-menu-list .link{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
       color: #2e2f42;
}
.nav-menu .link:hover {
    color: #404bbf;
}
.address-menu .link{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455; 
}
.address-menu .link:hover, 
.address-menu .link:focus {        
        color: #404bbf;
}

/*--------------- -HERO------------*/
.section-hero .title{
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;  
}
.button-hero{
    font-family: "Roboto",
     sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
         background: #4d5ae5;
         cursor: pointer;
            
}
.button-hero:hover, 
.button-hero:focus {

    background: #404bbf;
}

.section-hero{
    background: #2e2f42;
}
.section-features .section-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42; 
}

.section-features .title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.section-features .text{
    
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/*-------------------*/
.section-our_team .section-title{
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-align: center;
            color: #2e2f42;
            text-transform: capitalize;
}
.section-our_team .title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.section-our_team .text{ 
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
.section-our_team{
background-color: #F4F4FD;
}

.list-item{
    background-color: #FFFFFF;
} 


/*-------------------------*/
.section-our_portfolio .section-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize
}
.section-our_portfolio .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.section-our_portfolio .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*----------footer-------------*/

.footer-page .text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}
.footer-page .span-item{
    color: #f4f4fd;
}
.footer-page{
    background: #2e2f42;
}
